<div class="page-container">
    <div class="d-flex align-items-center">
        <button id="back-btn" mat-icon-button class="white-icon me-3" *ngIf="!isRootQuestion" (click)="onPreviousAnswer()">
            <mat-icon>backspace</mat-icon>
        </button>

        <h1>{{questionText}}</h1> 
    </div>
     

    <div class="mt-5 w-50 d-flex align-items-center justify-content-between" *ngIf="!questionEnd">
        <button id="no-btn" mat-stroked-button color="accent" (click)="onAnswer(false)">NO</button>
        <button id="yes-btn" mat-stroked-button color="primary" (click)="onAnswer(true)">YES</button>
    </div>

    <div class="mt-5 w-50 d-flex align-items-center justify-content-center" *ngIf="questionEnd">
        <button id="result-btn" mat-stroked-button color="primary" (click)="onCheckResult()">Check Result</button>
    </div>
</div>

