.mat-primary{
    border: #66B5F8 2.5px solid!important;
    color: #FFFFFF!important;
    background-color: #044277;
    font-weight: 700!important;
    padding: 20px !important;
    margin: 0 10px 0 10px;
  }

  .mat-accent{
    border: #66B5F8 2.5px solid!important;
    color: #66B5F8!important;
    background-color: #FFFFFF;
    font-weight: 700!important;
    padding: 20px !important;
  }